<div>
  <div *ngIf="showMsg">
    <li *ngFor="let msg of messages">
      {{msg}}
    </li>
  </div>
  <br>

  <h2> Guardar cliente</h2>

  <form #customerForm="ngForm">
    <input [(ngModel)]="customer.custId" #custId type="text" name="custId" placeholder="ID"><br>
    <label>Tipo de documento:</label> <br>
    <select [(ngModel)]="customer.dotyId" #dotyId name="dotyId" name="dotyId" id="dotyId">
      <option *ngFor="let documentType of documentTypes" [value]="documentType.dotyId">
        {{documentType.name}}
      </option>
    </select><br>
    <input [(ngModel)]="customer.name" #name type="text" name="name" placeholder="name" ><br>
    <input [(ngModel)]="customer.address" #address type="text" name="address" placeholder="address" ><br>
    <input [(ngModel)]="customer.email" #email type="email" name="email" placeholder="email" ><br>
    <input [(ngModel)]="customer.phone" #phone type="number" name="phone" placeholder="phone" ><br>
    <input [(ngModel)]="customer.token" #token type="text" name="token" placeholder="token" ><br>
    <label >Estado habilitado:</label> <br>
    <select [(ngModel)]="customer.enable" #enable name="enable" id="enable">
      <option value="S">Sí</option>
      <option value="N">No</option>
    </select><br>

    <button (click)="save()">Guardar</button><br>
    <button routerLink="/customer-list">Cancelar</button>

  </form>

</div>
